body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-image {
  height: 200px; /* Set a fixed height */
  width: 100%; /* Use the full width of the card */
  object-fit: cover; /* Cover the area, maintain aspect ratio without distortion */
}
@media (max-width: 768px) {
  .product-image {
    height: 150px; /* Smaller height on smaller screens */
  }
}
.card-body {
  height: 150px; /* Adjust based on your content */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out the title, text, and button */
}